	<section class="block block-footer-2">
	  <div class="container">
	    <div class="columns">
	      <div class="column">
	        <img src="/uploads/2021/02/26/gfdrr-logo.png" height="auto" alt="Logo">
	      </div>
	      <div class="column">
	           © 2021 Global Facility for Disaster Reduction and Recovery
	      </div>
	      <div class="column">
	          <a href="https://github.com/GFDRR/rdl-website" target="_blank">Code source</a> available under MIT License and content available under CC-BY-SA 4.0 license.
	      </div>
	      <div class="column">
	          <a href="/privacy" title="Privacy
	          Policy">Privacy Policy</a><br>

	          <a href="/terms"
	          title="Terms of use">Terms of use</a><br>

	          <a href="/contact"
	          title="Contact">Contact</a> <br>
	      </div>
	    </div>
	  </div>
	</section>
  </body>
</html>