<header class="block block-header-2">

  <div class="block-header-2--logo">
    <a href="/">The Risk Data Library</a>
  </div>

  <nav class="block-header-2--nav">
    <ul>
           
        <li class="nav-item "><a href="/standard">Standard</a></li>

        <li class="nav-item "><a href="/tool">Tools</a></li>
        
        <li class="nav-item "><a href="/data">Data</a></li>
        
        <li class="nav-item "><a href="/resources">Resources</a></li>
        
        <li class="nav-item "><a href="/project">Project</a></li>
        
    </ul>
    <a class="button primary inverted block-header-2--cta" href="https://docs.riskdatalibrary.org" target="_blank">Documentation</a>
  </nav>

</header>
