<header class="block block-header-2">

  <div class="block-header-2--logo">
    <a href="/">The Risk Data Library</a>
  </div>

  <nav class="block-header-2--nav">
    <ul>
        
        <li class="nav-item "><a href="/schema">Schema</a></li>
        
        <li class="nav-item "><a href="/database">Database</a></li>
        
        <li class="nav-item "><a href="http://jkan.riskdatalibrary.org/" target="_blank">Data</a></li>
        
        <li class="nav-item "><a href="/resources">Resources</a></li>
        
        <li class="nav-item "><a href="/project">Project</a></li>
        
    </ul>
    <a class="button primary inverted block-header-2--cta" href="https://docs.riskdatalibrary.org" target="_blank">Documentation</a>
  </nav>

</header>