//light
$light-primary-color: #ffffff;
$light-secondary-color: #f5f5f5;
$light-tertiary-color: #e6e6e6;

//dark
$dark-primary-color: #202020;

//grey
$grey-primary-color: #757575;
$grey-tertiary-color: #4d4d4d;
$grey-quaternary-color: #666666;
$grey-quinary-color: #808080;
$grey-senary-color: #a6a6a6;

//blue
$blue-primary-color: #239CE8;
$blue-secondary-color: #0b3860;
