@import "colors";

.container {
 width:960px;
}

.block-text-1 {
	padding: 3rem;
}

a {
 text-decoration:none;
 font-weight:normal;
 color:#239CE8;
}
a:hover {
 color:#106295;
}

h2, h3, h4, h5 {
 color: $blue-secondary-color;
}

h3 {
	font-size: 1.5rem;
}

//header

.block-header-2 .nav-item {
 font-size: 1rem;
}

.block-header-2 .nav-item a, .block-header-2--logo a {
 text-decoration:none;
 color:#fff;
}

.block-header-2 .nav-item a:hover, .block-header-2--logo a:hover {
 color:#ccc
}

.block-header-2 .nav-item.active a {
 opacity:1;
 font-weight:600;
}

.block-header-2 .nav-item.active a:hover {
 color:#ffcb3c
}

.block-header-2 {
  background-color: $blue-secondary-color; 
}

//title

.title p {
	font-size: 1.5rem;
	color: gray;
	font-weight: normal;
	margin-top: 0.5rem;	
}

//text-1

.headline p {
	font-size: 1.125rem;
	color: gray;
	font-weight: normal;
	margin-top: 0.5rem;	
}

//hero

.block-hero-2 {
  	background-color: $blue-secondary-color;
  	min-height: 0px;
}

//footer

.block-footer-1 {
 	background-color: #e6e6e6;
 	text-align: left; 
}	