<div class="footer">
  <div class="container">
    <div class="row">

        <div class="col-12 col-md-4">
          <div class="footer-info">
            {% if site.footer.footer_title and site.footer.footer_title != "" %}
              <h2>{{ site.footer.footer_title }}</h2>
            {% endif %}

            {% if site.footer.footer_description and site.footer.footer_description != "" %}
              <p>An initiative of the Global Facility for Disaster Reduction and Recovery (GFDRR)</p>
                             <img src='https://www.gfdrr.org/themes/custom/gfdrr/images/GFDRR_Primary%20Logo_White.svg?v=3c' height='auto' alt='Logo'>
                             <p>Sponsored by</p>
                             <img src='https://github.com/GFDRR/rdl-website-new/tree/main/assets/images/partners/128px-Gates_Foundation_Logo.svg.png' height='60px' alt='Logo' style="margin-top: 12px;">

            {% endif %}
                  </div>
                  </div>

        <div class="col-12 col-md-8 mt-gutter mt-md-0">
          <div class="row justify-content-end">

            {% if site.footer.enable_menu_footer_primary %}
              <div class="col-12 col-md-3 mt-gutter mt-md-0">
                <div class="footer-menu">
                  {%  if site.footer.footer_primary_menu_title %}
                    <h3>{{ site.footer.footer_primary_menu_title }}</h3>
                  {% endif %}
                  {% include framework/global/menu/menu-footer.html 
                    menu=site.data.menu.footer_primary
                  %}
                </div>
              </div>
            {% endif %}

            {% if site.footer.enable_menu_footer_secondary %}
              <div class="col-12 col-md-3 mt-gutter mt-md-0">
                <div class="footer-menu">
                {%  if site.footer.footer_secondary_menu_title %}
                  <h3>{{ site.footer.footer_secondary_menu_title }}</h3>
                {% endif %}
                {% include framework/global/menu/menu-footer.html 
                  menu=site.data.menu.footer_secondary
                %}
                </div>
              </div>
            {% endif %}

            {% if site.footer.enable_menu_footer_tertiary  %}
              <div class="col-12 col-md-3 mt-gutter mt-md-0">
                <div class="footer-menu">
                {%  if site.footer.footer_tertiary_menu_title %}
                  <h3>{{ site.footer.footer_tertiary_menu_title }}</h3>
                {% endif %}
                {% include framework/global/menu/menu-footer.html 
                  menu=site.data.menu.footer_tertiary
                %}
                </div>
              </div>
            {% endif %}
        
          </div>
        </div>
      
    </div>
  </div>
</div>
